span {
    transform: translate(-50%, -50%);
    border-radius: var(--size);
    height: var(--size);
    width: var(--size);
    display: block;
    position: absolute;
    opacity: 1;
    transition: box-shadow 0.5s ease-in-out, transform 0.07s ease-out,
        opacity 0.04s ease-in;
}

span.popped {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
}

span:after {
    content: "";
    position: absolute;
    top: 18%;
    left: 18%;
    background-color: rgba(mix(white, cyan, 75%), 0.6);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    width: calc(var(--size)/14);
    height: calc(var(--size)/6);
    border-radius: 50%;
    transform: rotate(45deg) scale(0.8);
}